<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="slider">

      <input type="radio" class="radio1" checked="checked" name="slide" />
      <input type="radio" class="radio2" name="slide" />
      <input type="radio" class="radio3" name="slide" />

      <div class="text-slide text1">
        <h2>Title One</h2>
        <p>contents here</p>
      </div>
      <div class="text-slide text2">
        <h2>Title Two</h2>
        <p>contents here</p>
      </div>
      <div class="text-slide text3">
        <h2>Title Three</h2>
        <p>contents here</p>
      </div>
      
      <div class="slide"></div>

    </div>

  </body>
</html>
