<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>props</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <message title="title 1" body="lorem ipsum"></message>
      <hr>
      <message title="title 2" body="lorem ipsum 2"></message>
      <hr>
      <message title="title 3" body="lorem ipsum 3"></message>
    </div>
  </body>
</html>
